{% extends "general/layout.html" %}

<title>{% block head_title %}Pagina de Editoriales{% endblock %}</title>
<h1>{% block page_title %}Editoriales{%endblock%}</h1>

{%block paga_content %}
    <h2>Lista Completa de Editoriales</h2>
    <ul>
        <li><a href="{% url 'books:editorial_create' %}">Nueva Editorial</a></li>
    </ul>

    <hr>

    <ul>{%  for editorial in editoriales %} 
        <li><a href="{% url 'books:editorial_detail' editorial.pk %}">{{ editorial.nombre }}</a></li> 
    {% endfor %}
    </ul>
{%endblock%}