{% extends "general/layout.html" %}

<title>{% block head_title %}Pagina de Detalles de Autores {% endblock %}</title>
<h1>{% block page_title %}Detalles de Autores{%endblock%}</h1>

{%block paga_content %}
    <h2>Lista Completa detalles por Autor</h2>
    {% if autor %}
    <h2>Nombre del autor: {{autor.nombre}}</h2>
    <p>Id del Autor: {{autor.id}}</p>
    <p>Fecha de Nacimiento: {{autor.f_nac}}</p>

    <p><a href="{% url 'autor:update' autor.pk %}">Editar</a> - 
        <a href="{% url 'autor:delete' autor.pk %}">Eliminar</a></p>
    <p>Volver a la <a href="{%url 'autor:list'%}">Lista de Autores</a></p>
{%else%}
    <h2>No se ha encontrado el Autor que buscabas</h2>
    <p>Puedes probar de nuevo en <a href="{%url 'autor:list'%}">la lista de Autores</a></p>
{% endif %}
{%endblock%}
    
  
    
